<a href="https://colab.research.google.com/github/choeuneheol/python-practice/blob/master/%EB%AC%B8%EC%9E%AC%ED%97%A4%EA%B2%B0%EC%B1%85DAY5(%EB%B2%94%EC%A3%BC%ED%98%95%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%9D%B4%EC%A7%84%EB%B6%84%EB%A5%98).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
# 데이터 경로

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submission = pd.read_csv('sample_submission.csv')

In [4]:
train.shape, test.shape

((300000, 25), (200000, 24))

In [5]:
train.head().T # T는 행과 열 위치를 바꿔줌

                  0            1          2            3            4
id                0            1          2            3            4
bin_0             0            0          0            0            0
bin_1             0            1          0            1            0
bin_2             0            0          0            0            0
bin_3             T            T          F            F            F
bin_4             Y            Y          Y            Y            N
nom_0         Green        Green       Blue          Red          Red
nom_1      Triangle    Trapezoid  Trapezoid    Trapezoid    Trapezoid
nom_2         Snake      Hamster       Lion        Snake         Lion
nom_3       Finland       Russia     Russia       Canada       Canada
nom_4       Bassoon        Piano   Theremin         Oboe         Oboe
nom_5     50f116bcf    b3b4d25d0  3263bdce5    f12246592    5b0f5acd5
nom_6     3ac1b8814    fbcb50fc1  0922e3cb8    50d7ad46a    1fe17a1fd
nom_7     68f6ad3e9    3b6dd5612  a6a36f527    ec69236eb    04ddac2be
nom_8     c389000ab    4cd920251  de9c9f684    4ade6ab69    cb43ab175
nom_9     2f4cb3d51    f83c56c21  ae6800dd0    8270f0d71    b164b72a7
ord_0             2            1          1            1            1
ord_1   Grandmaster  Grandmaster     Expert  Grandmaster  Grandmaster
ord_2          Cold          Hot   Lava Hot  Boiling Hot     Freezing
ord_3             h            a          h            i            a
ord_4             D            A          R            D            R
ord_5            kr           bF         Jc           kW           qP
day               2            7          7            2            7
month             2            8          2            1            8
target            0            0          0            1            0

In [6]:
submission.head()

       id  target
0  300000     0.5
1  300001     0.5
2  300002     0.5
3  300003     0.5
4  300004     0.5

In [11]:
def resumetable(df):
  print(f'데이터셋 형상: {df.shape}')
  summary = pd.DataFrame(df.dtypes, columns=['데이터 타입'])
  summary = summary.reset_index()
  summary = summary.rename(columns={'index' : '피처'})
  summary['결측값 개수'] = df.isnull().sum().values
  summary['고윳값 개수'] = df.nunique().values
  summary['첫 번째 값'] = df.loc[0].values
  summary['두 번째 값'] = df.loc[1].values
  summary['세 번째 값'] = df.loc[2].values

  return summary

resumetable(train)

데이터셋 형상: (300000, 25)

        피처  데이터 타입  결측값 개수  고윳값 개수       첫 번째 값       두 번째 값     세 번째 값
0       id   int64       0  300000            0            1          2
1    bin_0   int64       0       2            0            0          0
2    bin_1   int64       0       2            0            1          0
3    bin_2   int64       0       2            0            0          0
4    bin_3  object       0       2            T            T          F
5    bin_4  object       0       2            Y            Y          Y
6    nom_0  object       0       3        Green        Green       Blue
7    nom_1  object       0       6     Triangle    Trapezoid  Trapezoid
8    nom_2  object       0       6        Snake      Hamster       Lion
9    nom_3  object       0       6      Finland       Russia     Russia
10   nom_4  object       0       4      Bassoon        Piano   Theremin
11   nom_5  object       0     222    50f116bcf    b3b4d25d0  3263bdce5
12   nom_6  object       0     522    3ac1b8814    fbcb50fc1  0922e3cb8
13   nom_7  object       0    1220    68f6ad3e9    3b6dd5612  a6a36f527
14   nom_8  object       0    2215    c389000ab    4cd920251  de9c9f684
15   nom_9  object       0   11981    2f4cb3d51    f83c56c21  ae6800dd0
16   ord_0   int64       0       3            2            1          1
17   ord_1  object       0       5  Grandmaster  Grandmaster     Expert
18   ord_2  object       0       6         Cold          Hot   Lava Hot
19   ord_3  object       0      15            h            a          h
20   ord_4  object       0      26            D            A          R
21   ord_5  object       0     192           kr           bF         Jc
22     day   int64       0       7            2            7          7
23   month   int64       0      12            2            8          2
24  target   int64       0       2            0            0          0

In [12]:
for i in range(3):
  feature = 'ord_'+ str(i)
  print((f'{feature} 고윳값: {train[feature].unique()}'))

ord_0 고윳값: [2 1 3]
ord_1 고윳값: ['Grandmaster' 'Expert' 'Novice' 'Contributor' 'Master']
ord_2 고윳값: ['Cold' 'Hot' 'Lava Hot' 'Boiling Hot' 'Freezing' 'Warm']

In [13]:
for i in range(3,6):
  feature = 'ord_' + str(i)
  print(f'{feature} 고윳값 :{train[feature].unique()}')

ord_3 고윳값 :['h' 'a' 'i' 'j' 'g' 'e' 'd' 'b' 'k' 'f' 'l' 'n' 'o' 'c' 'm']
ord_4 고윳값 :['D' 'A' 'R' 'E' 'P' 'K' 'V' 'Q' 'Z' 'L' 'F' 'T' 'U' 'S' 'Y' 'B' 'H' 'J'
 'N' 'G' 'W' 'I' 'O' 'C' 'X' 'M']
ord_5 고윳값 :['kr' 'bF' 'Jc' 'kW' 'qP' 'PZ' 'wy' 'Ed' 'qo' 'CZ' 'qX' 'su' 'dP' 'aP'
 'MV' 'oC' 'RL' 'fh' 'gJ' 'Hj' 'TR' 'CL' 'Sc' 'eQ' 'kC' 'qK' 'dh' 'gM'
 'Jf' 'fO' 'Eg' 'KZ' 'Vx' 'Fo' 'sV' 'eb' 'YC' 'RG' 'Ye' 'qA' 'lL' 'Qh'
 'Bd' 'be' 'hT' 'lF' 'nX' 'kK' 'av' 'uS' 'Jt' 'PA' 'Er' 'Qb' 'od' 'ut'
 'Dx' 'Xi' 'on' 'Dc' 'sD' 'rZ' 'Uu' 'sn' 'yc' 'Gb' 'Kq' 'dQ' 'hp' 'kL'
 'je' 'CU' 'Fd' 'PQ' 'Bn' 'ex' 'hh' 'ac' 'rp' 'dE' 'oG' 'oK' 'cp' 'mm'
 'vK' 'ek' 'dO' 'XI' 'CM' 'Vf' 'aO' 'qv' 'jp' 'Zq' 'Qo' 'DN' 'TZ' 'ke'
 'cG' 'tP' 'ud' 'tv' 'aM' 'xy' 'lx' 'To' 'uy' 'ZS' 'vy' 'ZR' 'AP' 'GJ'
 'Wv' 'ri' 'qw' 'Xh' 'FI' 'nh' 'KR' 'dB' 'BE' 'Bb' 'mc' 'MC' 'tM' 'NV'
 'ih' 'IK' 'Ob' 'RP' 'dN' 'us' 'dZ' 'yN' 'Nf' 'QM' 'jV' 'sY' 'wu' 'SB'
 'UO' 'Mx' 'JX' 'Ry' 'Uk' 'uJ' 'LE' 'ps' 'kE' 'MO' 'kw' 'yY' 'zU' 'bJ'
 'Kf' 'ck' 'mb' 'Os' 'Ps' 'Ml' 'Ai' 'Wc' 'GD' 'll' 'aF' 'iT' 'cA' 'WE'
 'Gx' 'Nk' 'OR' 'Rm' 'BA' 'eG' 'cW' 'jS' 'DH' 'hL' 'Mf' 'Yb' 'Aj' 'oH'
 'Zc' 'qJ' 'eg' 'xP' 'vq' 'Id' 'pa' 'ux' 'kU' 'Cl']

In [14]:
print('day 고윳값:', train['day'].unique())
print('month 고윳값:', train['month'].unique())
print('target 고윳값:', train['target'].unique())

day 고윳값: [2 7 5 4 3 1 6]
month 고윳값: [ 2  8  1  4 10  3  7  9 12 11  5  6]
target 고윳값: [0 1]

In [15]:
# 데이터 시각화

import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [45]:
mpl.rc('font', size=15)   #폰트 크기 설정 
plt.figure(figsize=(7, 6))  #Figure 크기 설정

#타깃값 분포 카운트 플롯
ax = sns.countplot(x='target', data=train)
ax.set_title('Target Distribution')

Text(0.5, 1.0, 'Target Distribution')

In [46]:
print(ax.patches)

[<matplotlib.patches.Rectangle object at 0x7f18f114b850>, <matplotlib.patches.Rectangle object at 0x7f18f1153e50>]

In [47]:
rectangle =ax.patches[0] # 첫번째 Rectangle 객체
print('사각형 높이:',rectangle.get_height())
print('사각형 너비:',rectangle.get_width())
print('사각형 왼쪽 테두리의 x축 위치:', rectangle.get_x())

사각형 높이: 208236
사각형 너비: 0.8
사각형 왼쪽 테두리의 x축 위치: -0.4

In [48]:
print('텍스트 위치의 x좌표:', rectangle.get_x()+rectangle.get_width()/2.0)
print('텍스트 위치의 y좌표:', rectangle.get_height() + len(train) * 0.001)

텍스트 위치의 x좌표: 0.0
텍스트 위치의 y좌표: 208536.0

In [49]:
def write_percent(ax, total_size):
  '''도형 객체를 순회하며 막대 상단에 타깃값 비율 표시'''
  for patch in ax.patches:              
    height = patch.get_height()         #도형 높이(데이터 개수)
    width = patch.get_width()           #도형 너비
    left_coord = patch.get_x()          #도형 왼쪽 테두리의 x축 위치 
    percent = height/total_size+100     #타깃값 비율


    ax.text(x=left_coord + width/2.0,         # X축 위치
            y=height + total_size*0.001,      # Y축 위치
            s=f'{percent:1.1f}%',             # 입력 텍스트
            ha = 'center')                    # 가운데 정렬
    
plt.figure(figsize=(7,6))

ax = sns.countplot(x='target', data=train)
write_percent(ax, len(train))
ax.set_title('Target Distribution');

In [60]:
write_percent